.carrousel {
  width: 98%;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;
}

.cont-imagenes {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: transform 0.4s ease;
}

.imagen-carrousel {
    
  width: 100%;
  height: 500px;
  object-fit: cover;
    
   
}

.boton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.anterior {
  left: 10px;
}
.siguiente {
  right: 10px;
}