.cont-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: rgb(31, 29, 29);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}