
#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



header{
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 

  height: 110px;
  width: 100%;
  background-color: rgb(31, 29, 29);
  
}

h1{ 

  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width:300px;
  margin: 0px;
  
}

.cont-titulo div a {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: white;
  text-decoration: none;
}

/*//////////////////////////// NAVEGACION////////////////////////////*/


nav{
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  
}

/*///////////////////////// BUSCADOR  //////////////////////////*/

.buscador{
  display: flex;
  justify-items:center;
  
}

.buscador-texto{
  width: 450px;
  height: 35px;
  padding-left: 10px;

  font-size: 15px;
  font-family: "montserrat";

  outline: none;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.buscador-texto:focus{
  padding-left: 10px;
  font-size: 15px;
  color: #3e3f41;
}

.buscador-boton{
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.buscador-texto::placeholder{
  padding-left: 10px;
  font-size: 15px;
}
.buscador-boton{
  border: none;
  padding: 0px;
  
  height: 35px;
  width: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.buscador-boton:hover{
  background-color: #b5c5e6;
}


.buscador-boton-img{
  height: 20px;
  width: 20px;
}



.cont-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.cont-links a{
  text-decoration: none;
  font-family: "Changa One", sans-serif;
  font-style: normal;
  color: white;

}
.cont-carrito{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #18191b;
}

.cont-carrito:hover{
  background-color: rgb(202, 204, 204);
}



.cont-carrito img{

  width: 25px;
  height: 25px;
}

.auxiliar{
  width: 300px;
}