.contenedor{
    padding: 20px;
    margin-top: 100px;
    height: 300px;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(53, 50, 50);
    border-radius: 10px;
}
.titulo{
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    font-family: "changa one";
    font-weight: 800;
    font-size: 40px;
    align-items: center;
    justify-content: center;

    
}

.contenedor form{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

#input_gmail{
    height: 30px;
    width: 70%;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    transition: .3s;
}
#input_gmail:hover{
    background-color: rgb(177, 182, 182);
}


#input_contraseña{
    height: 30px;
    width: 70%;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    transition: .3s;
}
#input_contraseña:hover{
    background-color: rgb(177, 182, 182);
}

#boton_enviar{
    height: 30px;
    width: 40%;
    border-radius: 10px;
    border: none;
    transition: .1s;
}
#boton_enviar:hover{
    background-color: rgb(74, 80, 78);
}
