.cont-buscador-pagina{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  box-sizing: border-box;
  
  width: 100%;
  height: 100%;
  
}

.buscador-titulo{
    font-family: "montserrat";
    font-size: 25px;
    
}

.cont-buscador-contenedor{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px;
  width: 70%;
  background-color: rgb(35, 141, 141);
  border-radius: 10px;
  gap: 17px;
}

.no-resultados{
  font-family: "montserrat";
  font-size: 20px;
}